
	body {
  background: url(1172590557_preview_background-images-avant-avais.jpg);
 background-repeat:no-repeat;
background-attachment:fixed;
background-position:center;
background-size: 100%;
background-size:cover;
	
	
	
}
#lol 
{
	opacity: 0.89;
	padding:15px;
	font-size:45px;
	color:white;
	display:block;
 
 
	
}

