
body {
 background: url(1172590557_preview_background-images-avant-avais.jpg);
 background-repeat:no-repeat;
background-attachment:fixed;
background-position:center;
background-size: 100%;
background-size:cover;
	padding:10px;
	margin:100px;
}

#kek {
	padding:10px;
	
}

#ked {
	margin:10px;
}

